<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>215037782674-hnoq2fg5i9g9hrng57qbcshf2oi5ugh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215037782674-hnoq2fg5i9g9hrng57qbcshf2oi5ugh6</string>
	<key>API_KEY</key>
	<string>AIzaSyCg3lg3VXFDJ1D_dOcH0F552v0dvaE4Lm0</string>
	<key>GCM_SENDER_ID</key>
	<string>215037782674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.unicaja.Curso-iOS.DES</string>
	<key>PROJECT_ID</key>
	<string>curso-ios-59335</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-ios-59335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:215037782674:ios:0287c9c29b46aaad</string>
	<key>DATABASE_URL</key>
	<string>https://curso-ios-59335.firebaseio.com</string>
</dict>
</plist>