<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autenticado</key>
		<false/>
		<key>tipo</key>
		<string>web</string>
		<key>titulo_es</key>
		<string>Conoce Ingenia</string>
		<key>titulo_en</key>
		<string>Get to know Ingenia</string>
		<key>subtitulo_es</key>
		<string>Entra en nuestra web para conocer lo que podemos hacer por ti</string>
		<key>subtitulo_en</key>
		<string>Enter our website to know what we can do for you</string>
		<key>imagen</key>
		<string>menu-ingenia</string>
		<key>url_es</key>
		<string>http://www.ingenia.es/es</string>
		<key>url_en</key>
		<string>http://www.ingenia.es/en</string>
	</dict>
	<dict>
		<key>autenticado</key>
		<true/>
		<key>tipo</key>
		<string>menu</string>
		<key>titulo_es</key>
		<string>Banca Online</string>
		<key>titulo_en</key>
		<string>Online Banking</string>
		<key>subtitulo_es</key>
		<string>Realiza tus operaciones online con toda comodidad</string>
		<key>subtitulo_en</key>
		<string>Make your online operations in comfort</string>
		<key>imagen</key>
		<string>menu-ingenia</string>
		<key>menu</key>
		<array>
			<dict>
				<key>segue</key>
				<string>CuentasSegue</string>
				<key>autenticado</key>
				<true/>
				<key>tipo</key>
				<string>operación</string>
				<key>titulo_es</key>
				<string>Cuentas</string>
				<key>titulo_en</key>
				<string>Accounts</string>
			</dict>
			<dict>
				<key>autenticado</key>
				<true/>
				<key>tipo</key>
				<string>menu</string>
				<key>titulo_es</key>
				<string>Transferencias</string>
				<key>titulo_en</key>
				<string>Transfers</string>
				<key>menu</key>
				<array>
					<dict>
						<key>tipo</key>
						<string>operación</string>
						<key>titulo_es</key>
						<string>Traspaso entre cuentas</string>
						<key>titulo_en</key>
						<string>Transfer between accounts</string>
					</dict>
					<dict>
						<key>tipo</key>
						<string>operación</string>
						<key>titulo_es</key>
						<string>Transferencias</string>
						<key>titulo_en</key>
						<string>Transfers</string>
					</dict>
					<dict>
						<key>tipo</key>
						<string>operacion</string>
						<key>titulo_es</key>
						<string>Transferencias favoritas</string>
						<key>titulo_en</key>
						<string>Favorite Transfers</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>autenticado</key>
				<true/>
				<key>tipo</key>
				<string>menu</string>
				<key>titulo_es</key>
				<string>Tarjetas</string>
				<key>titulo_en</key>
				<string>Cards</string>
				<key>menu</key>
				<array>
					<dict>
						<key>tipo</key>
						<string>operación</string>
						<key>titulo_es</key>
						<string>Mis tarjetas</string>
						<key>titulo_en</key>
						<string>My cards</string>
					</dict>
					<dict>
						<key>tipo</key>
						<string>operación</string>
						<key>titulo_es</key>
						<string>Tarjetas virtuales</string>
						<key>titulo_en</key>
						<string>Virtual cards</string>
					</dict>
					<dict>
						<key>tipo</key>
						<string>operacion</string>
						<key>titulo_es</key>
						<string>Tarjetas prepago</string>
						<key>titulo_en</key>
						<string>Prepaid Cards</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>tipo</key>
		<string>web</string>
		<key>titulo_es</key>
		<string>Ingenia en Twitter</string>
		<key>titulo_en</key>
		<string>Ingenia in Twitter</string>
		<key>subtitulo_es</key>
		<string>Síguenos en Twitter y te mantendremos al día de nuestras novedades</string>
		<key>subtitulo_en</key>
		<string>Follow us on Twitter and we will keep you up to date with our news</string>
		<key>imagen</key>
		<string>menu-twitter</string>
		<key>url_es</key>
		<string>https://twitter.com/ingenia_es?lang=es</string>
		<key>url_en</key>
		<string>https://twitter.com/ingenia_es?lang=en</string>
	</dict>
	<dict>
		<key>tipo</key>
		<string>web</string>
		<key>titulo_es</key>
		<string>Ingenia en Facebook</string>
		<key>titulo_en</key>
		<string>Ingenia in Facebook</string>
		<key>subtitulo_es</key>
		<string>Síguenos en Facebook y te mantendremos al día de nuestras novedades</string>
		<key>subtitulo_en</key>
		<string>Follow us on Facebook and we will keep you updated on our news</string>
		<key>imagen</key>
		<string>menu-facebook</string>
		<key>url_es</key>
		<string>https://es-es.facebook.com/ingeniaface/</string>
		<key>url_en</key>
		<string>https://en-gb.facebook.com/ingeniaface/</string>
	</dict>
	<dict>
		<key>tipo</key>
		<string>web</string>
		<key>titulo_es</key>
		<string>Ingenia en Youtube</string>
		<key>titulo_en</key>
		<string>Ingenia in Youtube</string>
		<key>subtitulo_es</key>
		<string>Síguenos en YouTube y te mantendremos al día de nuestras novedades</string>
		<key>subtitulo_en</key>
		<string>Follow us on YouTube and we will keep you updated on our news</string>
		<key>imagen</key>
		<string>menu-youtube</string>
		<key>url_es</key>
		<string>https://www.youtube.com/user/Ingeniacanaltv</string>
		<key>url_en</key>
		<string>https://www.youtube.com/user/Ingeniacanaltv</string>
	</dict>
	<dict>
		<key>tipo</key>
		<string>app</string>
		<key>titulo_es</key>
		<string>EURO6000</string>
		<key>titulo_en</key>
		<string>EURO6000</string>
		<key>subtitulo_es</key>
		<string>Consulta los privilegios de pertenecer a la red EURO6000</string>
		<key>subtitulo_en</key>
		<string>Check the privileges to belong to the EURO6000 network</string>
		<key>imagen</key>
		<string>menu-EURO6000</string>
		<key>nombreApp</key>
		<string>EURO6000</string>
		<key>urlScheme</key>
		<string>EURO6000://?MENUPRIVILEGIOS#unicajamovil://</string>
		<key>urlStore</key>
		<string>http://itunes.apple.com/es/app/euro-6000/id398679203?mt=8</string>
	</dict>
	<dict>
		<key>tipo</key>
		<string>app</string>
		<key>autenticado</key>
		<false/>
		<key>titulo_es</key>
		<string>¿Donde estamos?</string>
		<key>titulo_en</key>
		<string>Where we are?</string>
		<key>subtitulo_es</key>
		<string>Ven a visitarnos, te indicaremos como llegar</string>
		<key>subtitulo_en</key>
		<string>Come visit us, we will tell you how to get there</string>
		<key>imagen</key>
		<string>menu-mapas</string>
		<key>nombreApp</key>
		<string>Mapas</string>
		<key>urlScheme</key>
		<string>http://maps.apple.com/?q=Ingenia&amp;address=Severo+Ochoa,43,29590,Malaga,Spain</string>
		<key>urlStore</key>
		<string>https://www.apple.com/es/ios/maps/</string>
	</dict>
	<dict>
		<key>tipo</key>
		<string>operación</string>
		<key>autenticado</key>
		<false/>
		<key>titulo_es</key>
		<string>Oficinas y Cajeros</string>
		<key>titulo_en</key>
		<string>Offices and ATMs</string>
		<key>subtitulo_es</key>
		<string>Consulta nuestra red de oficinas y cajeros</string>
		<key>subtitulo_en</key>
		<string>Consult our network of offices and ATMs</string>
		<key>imagen</key>
		<string>menu-oficinas</string>
		<key>segue</key>
		<string>OficinasCajerosSegue</string>
	</dict>
	<dict>
		<key>tipo</key>
		<string>operación</string>
		<key>autenticado</key>
		<false/>
		<key>titulo_es</key>
		<string>Datos de contacto</string>
		<key>titulo_en</key>
		<string>Contact information</string>
		<key>subtitulo_es</key>
		<string>Contacta con nosotros fácilmente</string>
		<key>subtitulo_en</key>
		<string>Contact us easily</string>
		<key>imagen</key>
		<string>menu-contacto</string>
		<key>segue</key>
		<string>ContactoSegue</string>
	</dict>
</array>
</plist>
